# Plotted graphs
flowchart/flowchart_saved/*

# Byte-compiled
__pycache__/

# Environments
.env
.venv
env/
venv/
.vscode/*

# MQTT Broker data and log files
mqtt-broker/data/*
mqtt-broker/log/*

mqtt-tester/mqtt-broker/data/*
mqtt-tester/mqtt-broker/log/*

global_temperature/app/persistence/save/*
anomaly_detection/app/persistence/save/*

api-gateway/logs/*
robot_management/logs/*

printer_monitoring/app/persistence/save/*