# Plotted graphs
flowchart/flowchart_saved/*

# Byte-compiled
__pycache__/

# Environments
.env
.venv
env/
venv/

# MQTT Tester -> comment so far, then will be implemented
mqtt-tester/

# MQTT Broker data and log files
mqtt-broker/data/*
mqtt-broker/log/*

